<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Викторина</title>
    <style>
        .link{
            color: black;
            text-decoration: none;
        }
        .table {
        border-collapse: collapse;
    }
        .table1, .td, .th {
        border: 1px solid black;
    }
    </style>
</head>
<body>
<h1>Викторина</h1>
<table>
    <tr>
        {% for i in range(qt|length) %}
        <th style="text-align=center;">{{ qt[i|string]|title }}</th>
        {% endfor %}
    </tr>
    {% for i in range(10) %}
    <tr>
        {% for j in range(qt|length) %}
            {% if check(a=j, b=(100*(i+1))|string) != None %}
            <td style="text-align=center;"><a href="{{ url_for('question', qt=j, pts=(100*(i+1))|string) }}" class="link">{{ 100*(i+1) }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr>
<table class="table table1">
<tr>
    <th class="th">Name</th>
    <th class="th">Score</th>
</tr>
{% for k, v in players.items() %}
    <tr>
    <td class="td">{{ k|title }}</td>
    <td class="td">{{ v }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
